GENESIS_BLOCK_NUMBER=25882481
MIN_REWARD=0.0
SUBGRAPH_URL=https://subgraph.pantherdao.app/production-ethereum
CONTRACT_ADDRESS=0xD56a3B1073eACEb7947A5061D9E03554bD5e9B75
INTERVAL=30
RPC_URL=https://mainnet.infura.io/v3/...
PRIVATE_KEY=...
PROTOCOL_VERSION=production
